*{
    font-family: 'Comic Sans MS', cursive;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}
body {
 backround-color: rgb(30,60,90);}
